<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Number of Entries</label>
            <div class="entry-wise my-5">
                <canvas id="entryCountChart"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <label> Gender Ratio</label>
            <div class="gender-wise">
                <canvas id="genderRatioChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <label>Country wise Data</label>
            <div class="Country-wise">
                <canvas id="countryWiseChart"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center mt-5">
            <label>Age Groups</label>
            <div class="age-wise my-5">
                <canvas id="ageGroupChart"></canvas>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-10 ml-5 my-4">
            <label>City wise Data</label>
            <div class="city-wise">
                <canvas id="cityWiseChart"></canvas>
            </div>
        </div>
    </div>
</div>
