<app-navbar></app-navbar>
<div class="container">
    <div class="row py-3">
        <div class="col-md-6 text-center">
            <label >Number of Entries</label>
            <div class="entry-count py-5">
                <canvas id="entryCountChart"></canvas>
              </div>
        </div>
        <div class="col-md-6 text-center">
            <label > Gender Ratio</label>
            <div class="gender-ratio">
                <canvas id="genderRatioChart"></canvas>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <label>Age Group</label>
            <div class="age-group">
                <canvas id="ageGroupChart"></canvas>
              </div>
        </div>
        <div class="col-lg-6 text-center">
            <label>Country Data</label>
            <div class="country-wise">
                <canvas id="countryWiseChart"></canvas>
              </div> 
        </div>
    </div>
    <div class="row my-5 text-center">
        <label>City Data</label>
        <div class="city-wise">
            <canvas id="cityWiseChart"></canvas>
          </div>
    </div>
</div>

  